[submodule "develop/widgets/editor-wysiwyg"]
	path = develop/widgets/editor-wysiwyg
	url = git@github.com:qwars/template-ui-kid.git
	branch = editor-wysiwyg
[submodule "develop/widgets/authentication-firebase"]
	path = develop/widgets/authentication-firebase
	url = git@github.com:qwars/template-ui-kid.git
	branch = authentication-firebase
[submodule "develop/classes/firebase-google-cloud"]
	path = develop/classes/firebase-google-cloud
	url = git@github.com:qwars/firebase-google-cloud.git
[submodule "develop/widgets/codemirror"]
	path = develop/widgets/codemirror
	url = git@github.com:qwars/template-ui-kid.git
	branch = CodeMirror5
[submodule "develop/widgets/create-button"]
	path = develop/widgets/create-button
	url = git@github.com:qwars/template-ui-kid.git
	branch = create-button
[submodule "develop/widgets/details-tooltype"]
	path = develop/widgets/details-tooltype
	url = git@github.com:qwars/template-ui-kid.git
	branch = details-tooltype
[submodule "develop/widgets/carusel-images"]
	path = develop/widgets/carusel-images
	url = git@github.com:qwars/template-ui-kid.git
	branch = carusel-images
[submodule "develop/classes/create-mount-imba-tags"]
	path = develop/classes/create-mount-imba-tags
	url = git@github.com:qwars/template-ui-kid.git
	branch = create-mount-imba-tags
[submodule "assets/mdnDocs"]
	path = assets/mdnDocs
	url = https://github.com/mdn/content.git
[submodule "develop/widgets/pagination-frestore-collection"]
	path = develop/widgets/pagination-frestore-collection
	url = git@github.com:qwars/template-ui-kid.git
	branch = pagination-frestore-collection
