
.store-editor
	align-self: center
	gap: 1rem
	grid-template-columns: 1fr auto
	& > section
		width: 57rem
		grid-area: 1/1/2/2
	& > aside
		width: 18rem
		padding: 0px
		border: 0px
		grid-area: 1/2/2/3
		h4 > dfn
			flex-grow: 1

.carusel-images
	justify-self: stretch
	height: 26.35rem
