:root

	--title-color:    rgb( 234, 234, 237 )
	--text-color:     rgb( 204, 204, 207 )
	--extra-color:    rgb( 156, 156, 158 )

	--link-color:     rgb( 0, 131, 143 )
	--active-color:   rgb( 0, 172, 193 )
	--hover-color:    rgb( 0, 96, 100 )
	--visited-color:  rgb( 35, 49, 59 )

	--focus-color:    rgb( 0, 160, 210 )
	--checked-color:  rgb( 2, 163, 136 )

	--canvas-color:   rgb( 0, 10%, 0 )
	--border-color:   rgb( 92, 111, 124)

	--disabled-color: rgba( 255, 255, 255 .15)
	--invalid-color:  rgb( 242, 98, 33 )
	--info-color:     rgb( 187, 222, 251 )
	--warning-color:  rgb( 255, 205, 26 )
