

:root
  --font-text: normal normal 300 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-title: normal normal 400 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-extra: normal normal 300 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-mono: normal normal 300 normal 11px / normal SFMono-Regular, Menlo, Monaco, Consolas,  "Nimbus Mono L", "Tlwg Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace

html
	min-height: 100%
	margin: 0px
	padding: 0px
	height: 100%

body
	margin: 0px
	padding: 0px
	-webkit-font-smoothing: antialiased
	display: flex
	flex-direction: column
	min-height: 100vh
	min-width: 642px
	::selection
		box-shadow: none
		outline: 0px solid transparent
	:focus
		box-shadow: none
		outline: 0px solid transparent
	// ::-internal-autofill-selected:hover,
	// ::-internal-autofill-selected:focus,
	// ::-internal-autofill-selected:active
	// 	background-color: var( --canvas-color,  ) !important