
main
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: auto 1fr auto
	align-items: stretch
	position: relative
	& > nav, & > aside
		overflow: auto
		max-height: calc( 100vh - 3.5rem )
	& > article
		grid-area: 1/2/2/3
		overflow: auto
		max-height: calc( 100vh - 3.5rem )

article
	display: flex
	flex-direction: column
	gap: 1rem
	padding: 0px 1rem